@font-face{
    font-family: PressStart2P;
    src: url(fonts/PressStart2P-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;  
    font-family: PressStart2P; 
}

/* utilities */
.margin-botton {
    margin-bottom: 1rem;
}
.simple-text {
    font-size: 0.7rem;
}
.d-flex {
    display: flex;
}
.text-align-c {
    text-align: center;
}
.col-xs-6 {
    width: 50%;
}

/* Header */
.nav-prueba-t {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 4;
}
.nav-prueba-t p{
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: white;
}
.cont-video-overlay {
    padding: 0 !important;
    position: relative;
}
.video-background {
    width: 100%;
}
.container-weather {
    justify-content: center;
}
.weather {
    position: absolute;
    font-size: 1rem;
    color: white;
    top: 45%;
    z-index: 3;
}
.cont-temp-desc {
    justify-content: center;
}
.temp {
    max-width: 300px;
}
.description {
    max-width: 300px;
}
.overlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
}
.mute {
    position: absolute;
    right: 3%;
    bottom: 5%;
    z-index: 2;
    background-color: #353051;
    border-color: #353051;
    transition: background-color 1s;
    transition: color 1s;
}
.mute:hover {
    background-color: white;
    color: black;
}

/* Content */
.main-content {
    margin-top: 50px;
}
.left-content {
    background-color: #353051;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.left-content p {
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}
.right-content {
    padding: 10px;
}
.right-content h1 {
    font-size: 2rem;
    color: #353051;
}
.right-content p {
    color: #353051;
}
.slider {
    justify-content: center;
}
.slick-next:before, 
.slick-prev:before {
    color: #353051;
}
.slider img {
    border: 1px solid #353051;
    width: 100%;
}
.map {
    justify-content: center;
}
.map iframe {
    width: 100%;
}

/* Footer */
footer p {
    margin-top: 50px;
    color: #4582fe;
}
.right-foot {
    text-align: right;
}
.left-foot p span {
    color: #353051;
}

/* Media Query*/
/* Large devices (desktops, max 992px) */
/* @media (max-width: 992px) { ... } */

/* Medium devices (tablets, max 768px) */
@media (max-width: 767px) {
    .content {
        flex-direction: column-reverse;
    }
    footer {
        text-align: center;
    }
    .right-foot {
        text-align: center;
    }
}
/* Small devices (landscape phones, max 576px) */
@media (max-width: 576px) {
    .nav-prueba-t {
        height: 40px;
        line-height: 50%;
    }
    .nav-prueba-t p{
        font-size: 1rem;
    }
    .city {
        margin-bottom: 0.2rem;
    }
    .weather {
        font-size: 0.7rem;
        top: 45%;
    }
    .weather p {
        margin-bottom: 0.5rem;
    }
    .mute {
        width: 20%;
        font-size: 0.7rem;
    }
    footer p {
        margin-top: 0px;
    }
    .left-foot {
        margin-top: 20px;
    }
    .right-foot {
        border-top: 1px solid #353051;
        padding-top: 10px;
    }
}
/* Extra Small devices (max 280px) */
@media (max-width: 281px) {
    .weather {
        font-size: 0.5rem;
    }
}